.ant-menu .ant-menu-item-selected {
    background-color: #27292f !important;
    color: #60a5fa;
}

.ant-menu {
    background-color: #201c24;
    padding: 10px;
}

.ant-menu-item {
    font-size: 20px;
    height: 50px !important;
    padding-left: 10px !important;
    margin-top: 10px !important;
}

.ant-list-item {
    justify-content: start !important;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.MuiAvatar-root {
    margin-right: 10px;
    margin-left: 20px;
}