.navigator {
    padding: 0px !important;
    width: 393px;
    border-radius: 8px;
    background-color: #27292f;
}

.ant-btn:hover {
    background-color: transparent !important;
}

.navigator .ant-menu-item {
    margin-top: 0 !important;
    font-size: 5px !important;
    height: 30px !important;
    line-height: 30px;
    border-radius: 8px !important;
}

.navigator .ant-menu-item-selected {
    background-color: #33353d !important;
}

.navigator .ant-menu-item-selected::after {
    border-bottom-color: transparent !important;
}

.navigator .ant-menu-item:hover::after {
    border-bottom-color: transparent !important;
}

.navigator .ant-menu-item .ant-menu-title-content {
    color: white;
    font-size: 18px;
}