.ant-collapse-header-text {
    color: white;
}

.ant-collapse {
    border-color: #26292e;
}

.ant-collapse-item {
    border-bottom-color: #26292e !important;
}

.ant-collapse-content {
    border-top-color: #26292e !important;
    border-top: none !important;
}

.ant-collapse-content-box {
    background-color: #201c24;
}

.ant-collapse-header {
    background-color: #201c24;
    font-size: large;
}