@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

/* @layer base {
    :root {
        --main-color: #76787b;
        --background-color: #201c24;
        --picked-color: #2a86ff;
    }
} */