.ant-modal-content {
    background-color: #242526 !important;
    padding: 0 !important;
    border-top-width: 1px !important;
    border-color: #2e2f30 !important;
}

.ant-modal-header {
    background-color: #242526 !important;
    padding: 15px 24px 10px 24px !important;
}

.ant-modal-title {
    color: white !important;
    font-size: 24px !important;
    text-align: center;
}

.ant-modal-close {
    border-radius: 100% !important;
    width: 30px !important;
    height: 30px !important;
    padding: 2px !important;
    background-color: #3a3b3c !important;
}

.ant-modal-close-icon {
    line-height: 100%;
}

.ant-modal-body {
    width: 100%;
    border-top-width: 1px !important;
    border-color: #2e2f30 !important;
}

TextArea {
    resize: none;
    background-color: #242526 !important;
    color: white;
    border: none !important;
}

TextArea:focus-visible {
    resize: none;
    background-color: #242526 !important;
    color: white;
    border-width: 0 !important;
}

.ant-input::placeholder {
    color: #979a9e;
    font-size: large;
}

.ant-input {
    color: white;
    resize: none !important;
    font-size: large;
    padding-inline: 20px !important;
}

.ant-input:focus,
.ant-input-focused {
  border-color: transparent !important; /* Change border color to transparent when focused */
  box-shadow: none !important; /* Remove box shadow when focused */
}

.ant-btn:hover {
    background-color: blue !important;
    color: white !important;
    opacity: 0.9 !important;
}